<%- include("partials/header") -%>

<div class="box" id="heading">
  <h1> <%= contactTitle %> </h1>
</div>

<div class="box">
     <div class="item">
       <p><%= contactContent %> </p>
     </div>
</div>


<%- include("partials/footer") -%>
